ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

li{
    display: inline-block;
    width: 20%;
    margin: 2%;
}
img{
    width: 100%;
}

.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    height: 100%;
    z-index: 10;
}

.image{
    /*display: block;*/
    width: 45%;
    margin: auto;
    position: relative;
    top: 20%;
    color: white;
    text-align: center;
    font-size: 28px;
    z-index: 15;
    
}

.xButton{
    /*display: block;*/
    border-style: solid;
    border-width: thin;
    background-color: gray;
    border-color: black;
    position: relative;
    float: right;
    top: 20px;
    z-index: 25;
    /*left: 15px;*/
}